<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
  
<configuration>

    <typeAliases>
    	<typeAlias type="com.ham.main.board.notice.NoticeDTO" alias="NoticeDTO"/>
    	<typeAlias type="com.ham.main.board.notice.NoticeFileDTO" alias="NoticeFileDTO"/>
    	<typeAlias type="com.ham.main.board.BoardDTO" alias="BoardDTO"/>    	
    </typeAliases>

    <typeAlias type="com.is.main.Board.qna.QnaDTO" alias="qnaDTO"></typeAlias>

</configuration>