<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
  
<configuration>
	<typeAliases>
		<typeAlias type="com.ham.main.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.ham.main.notice.NoticeFileDTO" alias="NoticeFileDTO"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.util.List" alias="List"/>
	
	</typeAliases>
</configuration>