<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ham.main.product.book.BookDAO">
  
  <insert id="setBook" parameterType="BookDTO">
     INSERT INTO BOOK(BOOKNUM, PRODUCTNUM, ID, CONTENTS, HEADCOUNT, PURPOSE, STARTTIME, ENDTIME, BOOKDATE, BOOKCHECK)
     VALUES (BOOK_SEQ.NEXTVAL,#{productNum},#{id},#{contents},#{headCount},#{purpose},#{startTime},#{endTime},#{bookDate}, 0)
  </insert>
  
  <select id="getDetail" resultType="BookDTO" parameterType="BookDTO">
     SELECT * 
       FROM BOOK
      WHERE BOOKNUM=#{bookNum} 
  </select>
  
  <select id="getList" resultType="BookDTO" parameterType="BookDTO">
     SELECT *
       FROM BOOK
      WHERE id=#{id}
  </select>
  
  
  
  </mapper>