<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ham.main.partner.PartnerDAO">
  	
    <!-- 협력업체 사업자 등록 -->
    <insert id="setPartnerRegisterJoin" parameterType="PartnerDTO">
    	INSERT INTO 
    		PARTNER(PARTNERNUM, ID, PARTNEREMAIL, PARTNEREMAILDOMAIN, PARTNERACCOUNT, PARTNERDATE, PARTNERNAME, PARTNERPHONE, COMPANYNAME)
    			VALUES(#{partnerNum}, #{id}, #{partnerEmail}, #{partnerEmailDomain}, #{partnerAccount}, #{partnerDate}, #{partnerName}, #{partnerPhone}, #{companyName})
    </insert>
  </mapper>
  