<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ham.main.product.pay.PayDAO">


  <insert id="setPay" parameterType="payDTO">
  <selectKey order="BEFORE" resultType="Long" keyProperty="payNum">
     SELECT PAY_SEQ.NEXTVAL FROM DUAL
  </selectKey>
     INSERT INTO PAYMENT(PAYNUM, BOOKNUM, PAYDATE, PAYAMOUNT)
     VALUES ( #{pay.payNum},#{pay.bookNum},SYSDATE,#{pay.payAmount})
  </insert>
  
  
  <select id="getDetail" resultType="PayDTO" parameterType="PayDTO"> 
     SELECT * 
       FROM PAYMENT 
      WHERE PAYNUM=#{payNum}
  </select> 
  
  <insert id="setRefund" parameterType="refundDTO">
       INSERT INTO REFUND(REFUNDNUM, PAYNUM, REFUNDAMOUNT, REFUNDDATE, REFUNDREASON, REFUNDCHECK)
       VALUES (REFUND_SEQ.NEXTVAL, #{payNum},#{refundAmount},SYSDATE, #{refundReason}, 0)
  </insert>
  
  <select id="getPayInfo" resultType="PayDTO" parameterType="PayDTO">
      SELECT *
        FROM PAYMENT
       WHERE BOOKNUM=#{bookNum}
  </select>
  
  </mapper>