<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ham.main.product.pay.PayDAO">
  

  <insert id="setPay" parameterType="payDTO">
     INSERT INTO PAYMENT(PAYNUM, BOOKNUM, PAYDATE, PAYAMOUNT)
     VALUES ( #{payNum},#{bookNum},SYSDATE,#{payAmount})
  </insert>
  
  
  <select id="getDetail" resultType="PayDTO" parameterType="PayDTO"> 
     SELECT * 
       FROM PAYMENT 
      WHERE PAYNUM=#{payNum}
  </select> 
  
  <insert id="setRefund" parameterType="RefundDTO">
       INSERT INTO REFUND(REFUNDNUM, PAYNUM, REFUNDAMOUNT, REFUNDDATE, REFUNDREASON, REFUNDCHECK)
       VALUES (REFUND_SEQ.NEXTVAL, #{payNum},#{refundAmount},SYSDATE, #{refundReason}, #{refundCheck})
  </insert>
  
  <select id="getPayInfo" resultType="PayDTO" parameterType="PayDTO">
      SELECT *
        FROM PAYMENT
       WHERE BOOKNUM=#{bookNum}
  </select>
  
  <select id="getRefundInfo" resultType="RefundDTO" parameterType="RefundDTO">
      SELECT *
        FROM REFUND
       WHERE PAYNUM=#{payNum}
  </select>
  
   
  
    <select id="getList" resultType="PayDTO" parameterType="Pager">
		SELECT * FROM
		(SELECT ROWNUM R, P.*
		FROM (SELECT * FROM PAYMENT
		WHERE PAYNUM>0
		AND BOOKNUM LIKE '%' || #{search} || '%'
		ORDER BY BOOKNUM DESC)P)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select> 
	
	<select id="getPermitList" resultType="RefundDTO" parameterType="Pager">
		SELECT * FROM
		(SELECT ROWNUM R, P.*
		FROM (SELECT * FROM REFUND
		WHERE REFUNDNUM>0
		AND REFUNDNUM LIKE '%' || #{search} || '%'
		AND REFUNDCHECK=1
		ORDER BY PARTNERNUM DESC)P)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
   <select id="getPayTotal" resultType="Long" parameterType="PayDTO">
      SELECT COUNT(PAYNUM)
        FROM PAYMENT
       WHERE BOOKNUM=#{bookNum}
   </select>
	
   <select id="getRefundTotal" resultType="Long" parameterType="refundDTO">
      SELECT COUNT(REFUNDNUM)
        FROM REFUND
       WHERE PAYNUM=#{payNum}
    </select>
  
   <select id="getCheckTotal" resultType="Long">
      SELECT COUNT(REFUNDNUM)
        FROM REFUND
       WHERE REFUNDCHECK=1
   </select>
   
   
  
  <update id="setRefundCheck" parameterType="RefundDTO">
      UPDATE REFUND
         SET REFUNDCHECK=1
       WHERE REFUNDNUM=#{refundNum}  
  </update>  
  
  
  </mapper>